In [62]:
import pandas as pd
import numpy as np

In [38]:
def get_data(sheet_url):
    url_1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
    print(url_1)
    data = pd.read_csv(url_1).set_index('DateTaken')
    data.index = pd.to_datetime(data.index)
    return data.sort_index()

In [39]:
data = get_data("https://docs.google.com/spreadsheets/d/12hsnTzHVuylHWTn2fl6TZXgk2JB3UpShjxApPqjCeQ4/edit#gid=488865780")

https://docs.google.com/spreadsheets/d/12hsnTzHVuylHWTn2fl6TZXgk2JB3UpShjxApPqjCeQ4/export?format=csv&gid=488865780

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2

In [40]:
data = pd.read_csv('/home/quoc/Downloads/Reasons_17July2021 - Sheet1.csv')

In [41]:
data

,Code,DateTaken,Result,ResultDate,ReasonLevel1,ReasonLevel2,ReasonLevel3,UnitName,ExamUnit_Name,Name,DateOfBirth,Gender,Phone,Address
0,U07T052111098,2021-07-15,Dương tính,2021-07-16,Giám sát cộng đồng (Thường quy),KHU DÂN CƯ,NaN,VIỆN PASTEUR TPHCM,Trung tâm y tế quận 5,TRỊNH HẢI THẮNG,1992-01-01,1,0943783992,"41A/3 HẢI THƯỢNG LÃN ÔNG, 10, 5"
1,U07T052111092,2021-07-15,Dương tính,2021-07-16,Giám sát cộng đồng (Thường quy),KHU DÂN CƯ,NaN,VIỆN PASTEUR TPHCM,Trung tâm y tế quận 5,LÂM THỊ DIỆU,1975-01-01,0,0909070399,"155 TRẦN HƯNG ĐẠO, 10, 5"
2,U07T052111251,2021-07-15,Dương tính,2021-07-16,Giám sát cộng đồng,"Cơ sở sản xuất, chợ, trung tâm bảo trợ xã hội…",NaN,VIỆN PASTEUR TPHCM,Trung tâm y tế quận 5,TRƯƠNG NGỌC THÚY,1970-01-01,0,0934238600,36 VẠN KIẾP
3,U07T052111260,2021-07-15,Dương tính,2021-07-16,Giám sát cộng đồng (Thường quy),CỘNG ĐỒNG,NaN,VIỆN PASTEUR TPHCM,Trung tâm y tế quận 5,NGÔ MỸ VÂN,1952-01-01,0,0934238600,"36 VẠN KiẾP, 10, 5"
4,U07T052111250,2021-07-15,Dương tính,2021-07-16,Giám sát cộng đồng,"Cơ sở sản xuất, chợ, trung tâm bảo trợ xã hội…",NaN,VIỆN PASTEUR TPHCM,Trung tâm y tế quận 5,TRƯƠNG NGỌC HÀ,1973-01-01,0,0934622158,36 vạn kiếp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23651,U07T212141019,2021-06-27,Dương tính,2021-06-28,NaN,NaN,NaN,Trung Tâm Điều Phối Mẫu - HCDC,Trung tâm y tế quận Bình Tân,NGUYỄN THỊ HUỲNH NHƯ,1990-01-01,0,NaN,"299/10 BÌNH THÀNH KP4, BHHB"
23652,U07T212141031,2021-06-27,Dương tính,2021-06-28,NaN,NaN,NaN,Trung Tâm Điều Phối Mẫu - HCDC,Trung tâm y tế quận Bình Tân,NGUYỄN CHÍ CÔNG,1961-01-01,1,NaN,"83/3 LK4-5, BHHB"
23653,U07T212141008,2021-06-27,Dương tính,2021-06-28,NaN,NaN,NaN,Trung Tâm Điều Phối Mẫu - HCDC,Trung tâm y tế quận Bình Tân,TRƯƠNG THỊ THÚY KIỀU,1993-01-01,0,NaN,"657 TRẦN VĂN GIÀ, TÂN TẠO A"
23654,U07T212141028,2021-06-27,Dương tính,2021-06-28,NaN,NaN,NaN,Trung Tâm Điều Phối Mẫu - HCDC,Trung tâm y tế quận Bình Tân,NGUYỄN THỊ KIM YẾN,1993-01-01,0,NaN,"LK 4-5, BHHB"
23655,U07T212141029,2021-06-27,Dương tính,2021-06-28,NaN,NaN,NaN,Trung Tâm Điều Phối Mẫu - HCDC,Trung tâm y tế quận Bình Tân,PHẠM THỊ NGỌC NHẪN,1964-01-01,0,NaN,"LK 4-5, BHHB"

In [42]:
data.query('ReasonLevel2=="Người đến cơ sở KCB được khám sàng lọc và chỉ định xét nghiệm"').groupby('DateTaken').count()

,Code,Result,ResultDate,ReasonLevel1,ReasonLevel2,ReasonLevel3,UnitName,ExamUnit_Name,Name,DateOfBirth,Gender,Phone,Address
DateTaken,,,,,,,,,,,,,
2021-07-09,145,145,145,145,145,0,145,145,145,145,145,142,141
2021-07-10,107,107,107,107,107,0,107,107,107,107,107,107,107
2021-07-11,76,76,76,76,76,0,76,76,76,76,76,76,76
2021-07-12,175,175,175,175,175,0,174,175,175,175,175,175,175
2021-07-13,176,176,176,176,176,0,167,176,176,176,176,176,176
2021-07-14,160,160,160,160,160,0,154,160,160,160,160,160,160
2021-07-15,107,107,107,107,107,0,104,107,107,107,107,107,107
2021-07-16,2,2,2,2,2,0,2,2,2,2,2,2,2

In [43]:
data.query('ReasonLevel2=="Người đến cơ sở KCB được khám sàng lọc và chỉ định xét nghiệm"').groupby('ResultDate').count()

,Code,DateTaken,Result,ReasonLevel1,ReasonLevel2,ReasonLevel3,UnitName,ExamUnit_Name,Name,DateOfBirth,Gender,Phone,Address
ResultDate,,,,,,,,,,,,,
2021-07-09,4,4,4,4,4,0,4,4,4,4,4,4,4
2021-07-10,101,101,101,101,101,0,101,101,101,101,101,101,101
2021-07-11,126,126,126,126,126,0,126,126,126,126,126,123,122
2021-07-12,99,99,99,99,99,0,98,99,99,99,99,99,99
2021-07-13,153,153,153,153,153,0,153,153,153,153,153,153,153
2021-07-14,107,107,107,107,107,0,98,107,107,107,107,107,107
2021-07-15,244,244,244,244,244,0,241,244,244,244,244,244,244
2021-07-16,114,114,114,114,114,0,108,114,114,114,114,114,114

In [47]:
f0 = data.groupby('ResultDate').size()

In [48]:
f0_community = data.query('ReasonLevel2=="Người đến cơ sở KCB được khám sàng lọc và chỉ định xét nghiệm"').groupby('ResultDate').size()

In [51]:
data_tp = pd.concat([f0, f0_community], axis=1)

In [52]:
data_tp.columns =['f0', 'f0_community']

In [66]:
data_tp

              f0  f0_community
2021-06-28   216           NaN
2021-06-29   392           NaN
2021-06-30   295           NaN
2021-07-01   506           NaN
2021-07-02   527           NaN
2021-07-03   458           NaN
2021-07-04   511           NaN
2021-07-05   615           NaN
2021-07-06  1132           NaN
2021-07-07  1185           NaN
2021-07-08  1869           NaN
2021-07-09  1478           NaN
2021-07-10  1925         101.0
2021-07-11  1371         126.0
2021-07-12  1566          99.0
2021-07-13  1830         153.0
2021-07-14  2239         107.0
2021-07-15  3169         244.0
2021-07-16  2372         114.0

In [65]:
data_tp.loc['2021-07-09','f0_community'] = np.nan

In [67]:
data_tp.iloc[:-1].to_csv('tphcm_new_format.csv', header=True, index_label = 'date')